@font-face {
    font-family: 'track'; /*a name to be used later*/
    src: url('fonts/track.otf'); /*URL to font*/
}
body{
	background-color: #2980b9;
}
a:link{
	text-decoration: none;
}
.container {
  top: 45%;
  left:  30%;
  width: 500px;
  position: absolute;
  text-align:center;
}

.block {
  background: #3498db;
  height: 10%;
  width: 150px;
  display:inline-block;
  margin: 8px;
  border-radius:5px;
}
.block p{
	color: white;
}
.header1 h1{
  text-align: center;
  height: 250px;
  line-height: 250px;
  font-family: track;
  font-size: 100px;
  color: white;	
}
video{
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	height: 100%;
}