@font-face {
    font-family: 'track'; /*a name to be used later*/
    src: url('fonts/track.otf'); /*URL to font*/
}
body{
	background-color: #2980b9;
}
h1{
  height: 250px;
  line-height: 250px;
  font-family: track;
  font-size: 100px;
  color: white;
}
h2{
  font-size: 25px;
  color: white;
}
