@font-face {
    font-family: 'fc'; /*a name to be used later*/
    src: url('fonts/fc.ttf'); /*URL to font*/
}

html,body{
  background: url(bilder/Smash.png) no-repeat center center fixed;
  background-size: cover;
}
.navbar{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
}
.navbar img{
  float: left;
  margin: 5px;
  margin-left: 20px;
  height: 90px;

}
.navbar a{
  float: right;
  line-height: 100px;
  margin-right: 200px;
  font-size: 40px;
  text-decoration: none;
  color: white;
  font-family: fc;
}
.navbar a:hover{
   color: #582a71;
}
.mainpage {
  margin-left:10%;
  margin-top: 20%;
  width: 30%;
}
.mainpage h1{
  font-size:100px;
  font-family: fc;
  color: white;
}
.glicko{
  position: absolute;
  top: 100%;
  left: 3%;
  height: 75%;
}
.mainlist{
  float: left;
  color: white;
  font-size: 30px;
  width: auto;
  padding: 15px;
  border: 1px solid grey;
  text-align: left;
}
.pikachumain{
  list-style-image: url(bilder/pikachuicon.png);
}
.dk{
  list-style-image: url(bilder/dk.png);
}
.sheik{
  list-style-image: url(bilder/sheik.png);
}
.marth{
  list-style-image: url(bilder/marth.png);
}
.samus{
  list-style-image: url(bilder/samus.png);
}
.peach{
  list-style-image: url(bilder/peach.png);
}
.fox{
  list-style-image: url(bilder/neutralfox.png);
}
.rfalco{
  list-style-image: url(bilder/rfalco.png);
}
.rfalcon{
  list-style-image: url(bilder/rfalcon.png);
}
.puff{
  list-style-image: url(bilder/puff.png);
}
.sidelist{

  float: left;
  margin-left: 50px;
  border: 1px solid grey;
  padding: 15px;
  color: white;
  font-size: 30px;
  width: auto;
  text-align: left;
}
.sidelist h3,.mainlist h3{
  font-family: fc;
  text-align: center;
  text-decoration: underline;
}
